@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */
:root{
    --primaryColor: #4E47FF;
    --primaryColorHover: #332dd4;
    --background: #F6F8FF;
    --textPrimary: #252432;
    --black: #000000;
    --textSecondary: #757575;
    --textTertiary: #B3B3B3;
    --fontDefault: "Raleway", sans-serif;
    --fontSecondary: "Inter", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: var(--background);
    font-family: var(--fontDefault);
    
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    background-image: url(Assets/Hero-bg.png);
    height: 698px;
    margin-bottom: 115px;
}
nav {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 0 ;
}
.nav-title {
    font-family: var(--fontSecondary);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--primaryColor);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

/* shared style */
.btn-primary {
 padding: 13px 36px;
 background-color: var(--primaryColor);
 border-radius: 10px;
 border: none;
 color: white;
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
 cursor: pointer;
 font-size: 14px;
 font-family: var(--fontSecondary);
 letter-spacing: 1px;
 font-weight: 500;
 transition: 0.4s;
 will-change: transform;
}
.btn-primary:hover {
 background-color: var(--primaryColorHover);
 transform: scale(1.025);
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-area {
    margin: 152px auto;
    text-align: center;
    max-width: 905px;
}
.hero-area h1{
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 37px;
    color: var(--textPrimary);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Action Section */
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 115px;
}
.action-text-area {
    max-width: 517px;
}
.action-text-area h3 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 23px;
    color: var(--textPrimary);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.action-text-area p {
    font-size: 20px;
    margin-bottom: 23px;
    color: var(--textTertiary);
}
.action-img {
    cursor: pointer;
    border-radius: 48px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    will-change: transform;
}
.action-img:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
}
/* Users Section */
.users {
    background: rgba(77, 71, 255, 0.10);
    margin-bottom: 137px;
    padding: 50px 142px;
    border-radius: 24px;
}
.users h4 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: var(--textPrimary);
    margin-bottom: 40px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.user-data-group {
    display: flex;
    justify-content: space-between;
}
.user-data-single {
    text-align: center;
}
.user-data-title {
    font-size: 70px;
    font-weight: 800;
    font-family: var(--fontSecondary);
    color: var(--primaryColor);
}
.user-data-description {
    font-family: var(--fontSecondary);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}
/* Users Review Section*/
.users-review {
    margin-bottom: 137px;
}
.users-review-title {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    color: var(--textPrimary);
    margin-bottom: 50px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.users-grope-review {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.personal-review {
    background-color: white;
    border-radius: 14px;
    padding: 24px;
    border: 1px solid #F2EDED;
}
.stars {
    display: flex;
    margin-bottom: 24px;
}
.about-review {
    margin-bottom: 24px;
}
.about-review h4 {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--textPrimary);
}
.about-review p {
    line-height: 22px;
    color: var(--textPrimary);
}
.person-profile {
    display: flex;
    align-items: center;
}
.person-profile img {
    border-radius: 50%;
    padding-right: 10px;
}
.person-profile-details h5 {
    margin-bottom: 5px;
    color: var(--textSecondary);
}
.person-profile-details p {
    color: var(--textTertiary);
}

/* Focus Section */
.focus {
    text-align: center;
    background-color: white;
    border-radius: 14px;
    padding: 71px 150px;
}
.focus h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--textPrimary);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.focus p {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--textSecondary);
}
.focus .btn-primary {
    display: block;
    margin: 20px auto;
}
.big-banner-img {
    cursor: pointer;
    border-radius: 48px;
    transition: 0.4s;
    will-change: transform;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
.big-banner-img:hover {
    transform: scale(1.01);
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6); */
}
/* Contact Section */
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 0;
    gap: 60px;
    margin-bottom: 104px;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}
.contact h2 {
    font-size: 45px;
    width: 50%;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.contact form {
    width: 50%;
}
.contact input[type="email"],
.contact input[type="text"],
.contact textarea {
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.contact label {
    display: block;
    margin: 0 0 10px 0;
    font-family: var(--fontSecondary);
}
.contact input[type="submit"] {
    width: 100%;
}
.footer {
    background: white;
}
 .footer-nav {
    width: 531px;
    /* height: 221px; */
    margin: 0 auto ;
    padding: 105px 0;
    text-align: center;
}
 
.footer .footer-nav h2 {
    font-family: var(--fontSecondary);
    font-size: 80px;
    font-weight: 900;
    color: var(--primaryColor);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    letter-spacing: 5px;
}
.footer .footer-nav P {
    font-weight: 500;
    margin-bottom: 20px;
    font-family: var(--fontSecondary);
    color: var(--textTertiary);
}
.footer ul {
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: space-around;
}
.footer ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--textTertiary);
}